{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/start_page.css') }}">
{% endblock %}

{% block body %}
<div id="loading">
    <img class="gear" src="{{ url_for('static', filename='/img/gear.svg') }}" alt="logoTel">
    <br>
    <label class="loading_text">loading...</label>
</div>

<a id="load_data_button" href="/main_page" onclick='myFunction()'><div class="button">Load data</div></a>
<script>
document.getElementById("load_data_button").onclick = function() {
    this.className = "button_clicked";
    document.getElementById("loading").style.display = "block"
}
</script>
{% endblock %}
