.button, .back_button {
    margin-left: 0;
    margin-top: 15px;
    padding-top: 8px;
    width: 100%;
    height: 35px;
    font-size: 20px;
}

a {
    display: block;
    width: 70%;
}

.vacancies_count{
    margin-right: 0;
    margin-top: 15px;
    padding-top: 8px;
    width: 20%;
    height: 35px;
    font-size: 20px;
    text-align: center;
    background-color: #e4e3e3;
    border-radius: 8px;
    box-shadow: 0 5px 5px grey;
}

.company {
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
}

.back_buttons {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
}

.back_button, .back_reload_button {
    font-size: 20px;
    font-weight: 600;
    width: 90%;
    height: 35px;
    margin-top: 25px;
    margin-bottom: 5%;
    padding-top: 8px;
    text-align: center;
    border-radius: 8px;
    background-color: #f75555;
    transition: background-color 300ms linear;
    box-shadow: 0 5px 5px grey;
}

.back_reload_button {
    margin-left: 10%;
}

.back_button:hover, .back_reload_button:hover {
    background-color: #ffa4a4;
    transition: background-color 300ms linear;
}